.grid {
    display: grid;
}

.grid-element {
    position: relative;
}

.grid-element:has(.fullscreen-element) {
    position: inherit;
}

.grid-element:has(.fullscreen-element) .top-resizer, .right-resizer, .bottom-resizer, .left-resizer {
    display: none;
}

.grid-element-content {
    width: 100%;
    height: 100%;
    padding: .5rem;
    overflow: auto;
}

.grid-element-content > * {
    width: 100%;
    height: 100%;
}

.top-resizer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 3px;
    cursor: ns-resize;
}

.right-resizer {
    position: absolute;
    right: 0;
    width: 3px;
    height: 100%;
    cursor: ew-resize;
}

.bottom-resizer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3px;
    cursor: ns-resize;
}

.left-resizer {
    position: absolute;
    left: 0;
    width: 3px;
    height: 100%;
    cursor: ew-resize;
}