.dashboard-container {
    container-name: dashboard-container;
    container-type: inline-size;
    background-color: #0A1828;
    height: 100%;
    width: 100%;
}

.dashboard {
    padding: 1rem;
}

@container dashboard-container (max-width: 767px) {

}

@container dashboard-container (min-width: 768px) and (max-width: 991px) {

}

@container dashboard-container (min-width: 992px) and (max-width: 1199px) {

}

@container dashboard-container (min-width: 1200px) {

}
