.element-controls {
    background-color: #9C95DC;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 5px 0 5px;
}

.control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: .9rem;
    height: .9rem;
    border: none;
    border-radius: 50%;
}

.control-btn i {
    display: flex;
    font-size: 10px;
}

.fullscreen-element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.fullscreen-element .element-controls {
    height: 2rem;
}

.fullscreen-element .control-btn {
    width: 1.3rem;
    height: 1.3rem;
}

.fullscreen-element .control-btn i {
    font-size: 14px;
}